<!DOCTYPE html>
<html>
<head>
    <title>Quang Tran RTC</title>
</head>
<body>
    <h1>Quang Tran Stream</h1>
    <video id = "localStream" width="300" controls></video>
    <br /> <br />
    <video id = "FriendStream" width="300" controls></video>
    <textarea rows = "3" cols="100" id="txtMysignal"></textarea>
    <br /><br/>
    <input type="text" placeholder="your friend`s signal" id="txtFriendsignal"/>
    <br/> <br />
    <button id="btnConnect"> Connect </button>
</body>
<script >

</script>
<script src="main.js"></script>
</html>